<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="saveRoom">
            <input v-model="roomName" placeholder="Name of room">
            <select v-model="roomCountry">
                <option>Belarus</option>
                <option>Russia</option>
                <option>Ukraine</option>
            </select>
            <button type="submit">Create</button>
        </form>

        <form action="/roomWithLamp">
            <ul>
                <li v-for="room in rooms" :key="room.id">
                    <label><span style="font-weight: bolder;">Room Name:</span> {{ room.roomName }},</label>
                    <label><span style="font-weight: bolder;">Country:</span> {{ room.roomCountry }}</label>
                    <button type="submit" name="roomId" v-bind:value="room.id">Visit room</button>
                </li>
            </ul>
        </form>
    </div>
    <script src="js/main.js"></script>
</body>
</html>